body {
  background-image: url("/background.png");
  background-repeat: no-repeat;
  background-color: #fcf2e2;
  background-size: cover;
  background-position: top;
  margin: 0;
}

.fullHeight {
  min-height: 100dvh;
  min-height: 100vh;
}
